
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  color: #212121;
  background-image: linear-gradient(to right, #bbdefb, #b2dfdb);
}

.App {
  font-family: Raleway, sans-serif;
  text-align: center;
  padding-bottom: 36px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Lato, sans-serif;
  margin-bottom: 20px;
}


.form {
  max-width: 600px;
  margin: 20px auto;
}



.input {
  width: 90%;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: inherit;
  font-family: inherit;
  padding: 5px 8px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #fafafa;
}

.input:focus {
  outline: none;
}

.label {
  font-size: 15px;
  font-family: inherit;
  color: rgba(1, 0, 7);
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}


.btn {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: inherit;
  background-color: #263238;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #37474f;
}

.Friend{
  max-width: 500px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px 10px 10px 10px;
  font-family: inherit;
}
.loginTitle{
  font-family: inherit;
}
.linkholder{
  display: flex;
}

.links{
  text-decoration: none;
  margin-right: 1010px;
  display: flex;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: inherit;
  font-size: 14px;
  background-color: #263238;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}